.landing {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  box-sizing: border-box;
  width: 910px;
  height: 200px;
  background: #1d3557;
  border: 1px solid #457b9d;
  border-radius: 13px;
  cursor: pointer;
  transition: ease 0.4s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 97px;
  color: #ffffff;
  margin: 2%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn:hover {
  letter-spacing: 0.25em;
  box-shadow: 0 0 30px rgba(30, 155, 255, 0.25),
    0 0 60px rgba(30, 155, 255, 0.25), 0 0 90px rgba(30, 155, 255, 0.25);
}
