.landing {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  box-sizing: border-box;
  width: 910px;
  height: 200px;
  background: #1d3557;
  border: 1px solid #457b9d;
  border-radius: 13px;
  cursor: pointer;
  transition: ease 0.4s;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 97px;
  color: #ffffff;
  margin: 2%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn:hover {
  letter-spacing: 0.25em;
  box-shadow: 0px 5px 15px 10px rgba(30, 155, 255, 0.25);
  backdrop-filter: blur(2px);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}
